@model SocialMedia.Models.ApplicationUser
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detail</h2>

<div>
    <h5>@(new SocialMedia.Models.ApplicationDbContext().Users.Where(u => u.Id == Model.Id).FirstOrDefault().UserName)</h5>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailConfirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailConfirmed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PasswordHash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PasswordHash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecurityStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecurityStamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumberConfirmed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TwoFactorEnabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TwoFactorEnabled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LockoutEndDateUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LockoutEndDateUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LockoutEnabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LockoutEnabled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessFailedCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessFailedCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            Role
        </dt>

        <dd>
            @{
                var roleId = Model.Roles.Where(r => r.UserId == Model.Id).FirstOrDefault().RoleId;
                var role = (new SocialMedia.Models.ApplicationDbContext()).Roles
                    .Where(r => r.Id == roleId)
                    .FirstOrDefault().Name;
            }
            @Html.DisplayFor(model => role)
        </dd>

        @if (ViewBag.isOwner != null)
        {
            <dt>
                Change Password
            </dt>

            <dd>
                @if (Model.PasswordHash != null)
                {
                    @Html.ActionLink("[Change]", "ChangePassword", "Manage")
                }
                else
                {
                    @Html.ActionLink("[Create]", "SetPassword", "Manage")
                }

            </dd>
        }
    </dl>
</div>

<hr/>
<div>
    <h4>Blog Favorite:</h4>
    <table class="table">
        <tr>
            <th>Title</th>
            <th></th>
        </tr>
        @foreach (var item in (List<tb_Favorite>)ViewData["Favorite"])
        {
    <tr>
        <td>@item.tb_Blog.Title</td>
        @if (ViewBag.isOwner != null)
        {
            <td>@Html.ActionLink("Unlike", "UnLike", "Blog", new { id = item.BlogId, returnUrl = Request.Url.AbsolutePath }, null)</td>

        }
    </tr>
        }
    </table>

    
</div>

<hr/>
<div>
    <h4>Blog Favorite:</h4>
    <table class="table">
        <tr>
            <th>Title</th>
            <th></th>
        </tr>
        @foreach (var item in (List<tb_UserGroup>)ViewData["Groups"])
        {
            <tr>
                <td>@item.tb_Group.Title</td>
                <td>@Html.ActionLink("Leave Group", "DeleteMember","Group", new { id = item.GroupId, memberId = User.Identity.GetUserId(), returnUrl = Request.Url.AbsolutePath }, null)</td>

            </tr>
        }
    </table>


</div>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
