@model IEnumerable<SocialMedia.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<string> roleList = ViewBag.RoleList;
}

<h2>Index</h2>

@{
    ViewBag.Title = "Index";
}

@if (User.Identity.IsAuthenticated)
{
    <h1>Welcome Admin. Now you can create user Role.</h1>
    <h3>
        <li>@Html.ActionLink("Manage Role", "Index", "Role")</li>
    </h3>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayName("Role")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @{ 
                        var roleId = item.Roles.Where(r => r.UserId == item.Id).FirstOrDefault().RoleId;
                        var role = (new SocialMedia.Models.ApplicationDbContext()).Roles
                            .Where(r => r.Id == roleId)
                            .FirstOrDefault().Name;
                    }
                    @Html.DisplayFor(modelItem => role)
                </td>
                <td>
                    @item.Id |
                    @Html.ActionLink("Detail","Detail","Users", new { Id = item.Id}, null)
                </td>
            </tr>
        }

    </table>
}
else
{
    <h2>  Welcome <strong>@ViewBag.Name</strong> :) .We will add user module soon </h2>
}

